<h1>自分の題名</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_calendar_path %>
<div class="tweets-container">
  <% @calendars.each do |t| %>
    <div class="tweet">
      <%= t.homework %>
      <%= t.subject %>
    </div>
  <% end %>
</div>